body {
  font-family: "Heebo", sans-serif;
  font-family: "Roboto Mono", monospace;
  color: #155263;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/106/750/original/weather.jpg?1702245046);
  background-repeat: no-repeat;
  background-size: cover;
}
.application {
  background: white;
  max-width: 1000px;
  margin: 0 auto;
  display: block;
  padding: 200px 100px 200px 300px;
  opacity: 0.9;
 box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
input{
width: 70%;
 align-items: center;
}
.submit-form {
  padding: 12px 25px 12px 25px;
  border: none;
  width: 22%;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  color: white;
  background: #bcdd29;
}
.submit-form:hover{
  opacity: 0.7;
  transition: 0.1s;
}
header {
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 0 0 20px 0;
  margin-top:-150px;

}
h1 {
text-align: start;
margin-top: 20px-;
}
li{
  list-style: none;
}
.numbers,
.weather-condition {
  color: #a2c11c;
  font-size: 15px;
  font-weight: bold;
}
.current-temperature {
  font-size: 55px;
  padding-top: 50px;
  font-weight: bold;
  text-align: center;
}
.weather-app-unit{
  font-size: 25px;
  display: flex;
  font-weight: bold;
  padding-left: 149px;
  margin-top: -70px;
}

.readings {
  font-size: 15px;
  font-weight: bold;
}
form {
  text-align: center;
}
.search-form-input {
  background: rgb(246, 245, 250);
  border: none;
  max-width: 800px;
  padding: 12px 18px;
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  border-radius: 8px;
}
.forecast-column {
  position: relative;
  margin-right: 28px;
  margin-top: 100px;
  margin-left: 5px;
}
.forecast-date {
  font-weight: bold;
  opacity: 0.8;
  font-size: 15px;
  margin-left: 32px;
}
.forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.forecast-temperatures {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0 10px;
}
.weather-min {
  opacity: 0.8;
  font-weight: bold;
  margin: 0 8px 0 0;
}
.weather-max {
  color: #bcdd29;
  font-weight: bolder;
  margin: 0 8px 0 0;
}
a {
  color: #a2c11c;
  font-weight: bold;
}
footer {
  margin-top: 85px;
  text-align: center;
  font-size: 15px;
}

.information {
  border-top: 1px solid rgb(235, 235, 235);
  padding: 25px 0 0 0;
  font-size: 14px;
}
.weather-app-icon {
  font-size: 65px;
  position: absolute;
  margin-top: -9px;
  padding-left: 20px;
}
@media(max-width:700px){
  h1{
    font-size: 47px;
margin-left: 35px;
    font-weight: 800;
  }
  
  
  .weather-app-icon {
    margin-left: 22px;

   
  }
  .search-form-input{
    width:90%;
    text-align: center;
display: flex;
  }

  .weather-app-unit{
    margin-left: -420px;
   
  }
  .readings {
    margin-left: -610px;
    margin-top: -5px;
    margin-bottom: 90px;
  }
  .submit-form{
    width:40%;
  }
  .application {
  max-width: 2000px;
margin: 0 auto;
display: block;
 margin: 20px;
  }

  .forecast-date {
    margin-left:10px;
  }
 
  .forecast-icon{
    width: 70px;
    height: 70px;
    margin: 10px auto;
   }
   .weather-min,.weather-max{
 margin: 0 4px 0 0;   
   }
  }

