body {
  font-family: "Heebo", sans-serif;
  color: #155263;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/106/750/original/weather.jpg?1702245046);

}
.application {
  background: white;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
  display: block;
  padding: 100px;
  opacity: 0.88;
 box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
form {
  text-align: center;
}
.search-form-input {
  background: rgb(246, 245, 250);
  border: none;

  padding: 18px 18px;
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  border-radius: 8px;
}
header {
  border-bottom: 1px solid rgb(235, 235, 235);
 padding-bottom: 40px;
  margin-top:-40px;
}
input{
width: 50%;
 align-items: center;
}
.submit-button {
  padding: 15px 25px 15px 25px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  color: white;
  background: #bcdd29;
}
.submit-form:hover{
  opacity: 0.7;
  transition: 0.1s;
}
h1 {
font-size: 65px;
}
li{
  list-style: none;
}
.numbers,
.weather-condition {
  color: #a2c11c;
  font-size: 20px;
  font-weight: 500;
}
.current-temperature {
  font-size: 65px;
}
.weather-app-unit{
  font-weight: 500;
position: absolute;
  margin-top: -100px;
  margin-left: 40px;
  font-size: 65px;
}
li{
  font-size: 20px;
}
.readings {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 15px;
  letter-spacing: 1.2px;
  font-weight:bold;
}
.forecast{
display: flex;
justify-content: space-evenly;
margin-top: 70px;
}
.forecast-date {
  font-weight: bold;
  opacity: 0.8;
  font-size: 20px;
}
.forecast-icon {
  width: 90px;
  height: 78px;
position: absolute;
margin-left: -30px;
}
.forecast-temperatures {
display: flex;
  text-align: center;
margin-left: -10px;
justify-content: space-evenly;
}
.weather-min {
  opacity: 0.8;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 80px;
}
.weather-max {
  color: #bcdd29;
  font-weight: bolder;

  margin-top: 80px;
}
a {
  color: #a2c11c;
  
}
footer {
  padding-top: 80px;
  border-top: 1px solid rgb(235, 235, 235);
  font-size: 15px;
  margin-top: 100px;
  color: black;
  text-align: center;


}
@media(max-width:900px){
  .application {
  margin: 0 auto;
  display: block;
   margin: 25px;
    }

  h1{
    font-size: 50px;
    font-weight: 500;
  }
  .search-form{
    display: flex;
    justify-content: center;
   
  }

  .submit-button{
    padding: 15px 20px 15px 20px;
    margin: 10px;
  }

  .forecast-icon{
    width: 70px;
    height: 60px;
    margin: 10px auto;
   }
   .forecast-temperatures {
    margin-left: -5px;
   }
  }
  @media(max-width: 780px){
.application{
  margin: 18px;
  opacity: 0.8;
  }

  .submit-button {
    padding: 10px 20px 10px 20px;
    width: 80%;
  }
  h1{
    font-size: 50px;
    letter-spacing: 1.1px;
    text-align: center;
  }
  .current-temperature{
    font-size: 55px;
  }
  .weather-app-unit{
    font-size: 50px;
  }
  .weather-app-icon,
  .current-temperature, ul{
    text-align: center;
  }
  ul, li, .readings{
    text-align: center;
    font-size: 17px;
  }
  .forecast{
    display: grid;
    grid-template-columns: 2fr;
  }
}