body {
  font-family: "Heebo", sans-serif;
  font-family: "Roboto Mono", monospace;

  color: #155263;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/107/493/original/earth.jpg?1702744908);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 0 0 20px 0;
}

h1 {
  margin-top: 80px;
  padding-left: 50px;
  font-size: 50px;
}
main {
  display: flex;
  justify-content: space-evenly;
}
.weather-app-icon {
  font-size: 50px;
  position: absolute;
  margin-top: -115px;
  padding-left: 250px;
}
.numbers,
.weather-condition {
  color: #a2c11c;
  font-size: 15px;
  font-weight: bold;
}
.current-temperature {
  font-size: 55px;
  font-weight: bold;
  margin-top: -115px;
  padding-left: 600px;
}
.weather-app-unit {
  position: relative;
  font-size: 25px;
  font-weight: bold;
  padding-left: 660px;
  margin-top: -70px;
}

.readings {
  font-size: 15px;
  font-weight: bold;
  position: relative;
  padding-left: 500px;
  text-align: center;
  padding-top: 40px;
}
form {
  text-align: center;
}
.search-form-input {
  background: rgb(246, 245, 250);
  border: none;
  width: 250px;

  padding: 12px 18px;
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  border-radius: 8px;
}
.submit-form {
  padding: 12px 15px;
  border: none;
  width: 14%;
  font-weight: bold;
  font-size: 14px;
  border-radius: 10px;
  color: white;
  background: #bcdd29;
}

.application {
  background: white;
  max-width: 720px;
  margin: 75px auto;
  padding: 75px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.1);
  border-radius: 20px;
}
.weather-forecast {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.forecast-column {
  position: relative;
  margin-right: 40px;
  margin-top: 60px;
  padding-right: 15px;
  padding-left: 10px;
}
.forecast-date {
  font-weight: bold;
  opacity: 0.8;
  font-size: 15px;
  padding-right: 8px;
}
.forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.forecast-temperatures {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0 8px;
}
.weather-min {
  opacity: 0.8;
  font-weight: bold;
  margin: 0 8px 0 0;
}
.weather-max {
  color: #bcdd29;
  font-weight: bolder;
  margin: 0 8px 0 0;
}
a {
  color: #a2c11c;
  font-weight: bold;
}
footer {
  margin-top: 85px;
  text-align: center;
  font-size: 15px;
}
.information {
  border-top: 1px solid rgb(235, 235, 235);
  padding: 25px 0 0 0;
  font-size: 14px;
}
