body {
  font-family: "Heebo", sans-serif;
  font-family: "Roboto Mono", monospace;
  color: #155263;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/106/750/original/weather.jpg?1702245046);
  background-repeat: no-repeat;
  background-size: cover;
}
.application {
  background: white;
  max-width: 1000px;
  margin: 0 auto;
  display: block;
  padding: 100px;
  opacity: 0.9;
 box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
form {
  text-align: center;
}
.search-form-input {
  background: rgb(246, 245, 250);
  border: none;
  max-width: 800px;
  padding: 18px 18px;
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  border-radius: 8px;
}
header {
  border-bottom: 1px solid rgb(235, 235, 235);
 padding-bottom: 40px;
  margin-top:-40px;
}
input{
width: 55%;
 align-items: center;
}
.submit-form {
  padding: 16px 25px 16px 25px;
  border: none;
  width: 22%;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  color: white;
  background: #bcdd29;
}
.submit-form:hover{
  opacity: 0.7;
  transition: 0.1s;
}
h1 {
font-size: 65px;
}
li{
  list-style: none;
}
.numbers,
.weather-condition {
  color: #a2c11c;
  font-size: 25px;
  font-weight: 500;
}
.current-temperature {
  font-size: 65px;
}
.weather-app-unit{
  font-weight: 500;
position: absolute;
  margin-top: -100px;
  margin-left: 40px;
  font-size: 65px;
}
.readings {
  font-size: 20px;
  font-weight:bold;
}
.forecast{
display: flex;
justify-content: space-around;
padding-left: -50px;
margin-top: 200px;
  
}
.forecast-date {
  font-weight: bold;
  opacity: 0.8;
  font-size: 20px;
  margin-left: 32px;
}
.forecast-icon {
  width: 90px;
  height: 90px;
  display: block;
  margin: 0 auto;
}
.forecast-temperatures {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: -10px;
}
.weather-min {
  opacity: 0.8;
  font-weight: bold;
  margin: 0 8px 0 0;
}
.weather-max {
  color: #bcdd29;
  font-weight: bolder;
  margin: 0 8px 0 0;
}
a {
  color: #a2c11c;
  
}
footer {
  margin-top: 85px;
  color: white;
  text-align: center;
  font-size: 15px;
}
.information {
  border-top: 1px solid rgb(235, 235, 235);
  padding: 25px 0 0 0;
  font-size: 20px;
}
@media(max-width:700px){
  .application {
  margin: 0 auto;
  display: block;
   margin: 20px;
    }

  h1{
    font-size: 45px;
    font-weight: 500;
  }
  .search-form-input{
width:90%;
text-align: center;
display: flex;
  }

  .submit-form{
    width:40%;
  }
  .forecast-date {
    margin-left:10px;
  }
 
  .forecast-icon{
    width: 70px;
    height: 70px;
    margin: 10px auto;
   }
   .weather-min,.weather-max{
 margin: 0 4px 0 0;   
   }
  }

