body {
  font-family: "Heebo", sans-serif;
  font-family: "Roboto Mono", monospace;
  color: #155263;

  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/106/750/original/weather.jpg?1702245046);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 0 0 20px 0;
}

h1 {
  font-size: 50px;
  margin-right: 220px;
  padding-top: 70px;
}

.numbers,
.weather-condition {
  color: #a2c11c;
  font-size: 15px;
  font-weight: bold;
}
.current-temperature {
  font-size: 55px;
  padding-top: 50px;
  font-weight: bold;
  text-align: center;
}
.weather-app-unit{
  font-size: 25px;
  display: flex;
  font-weight: bold;
  padding-left: 149px;
  margin-top: -70px;
}

.readings {
  font-size: 15px;
  font-weight: bold;
  padding-top: 40px;

  text-align: center;
}
form {
  text-align: center;
}
.search-form-input {
  background: rgb(246, 245, 250);
  border: none;
  max-width: 800px;

  padding: 12px 18px;
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  border-radius: 8px;
}
.submit-form {
  padding: 12px 15px;
  border: none;
  width: 15%;
  font-weight: bold;
  font-size: 14px;
  border-radius: 10px;
  color: white;
  background: #bcdd29;
}

.application {
  background: white;
  max-width: 800px;
  margin: 75px auto;
  padding: 75px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.1);
  border-radius: 20px;
}

.forecast-column {
  position: relative;
  margin-right: 28px;
  margin-top: 100px;
  margin-left: 5px;
}
.forecast-date {
  font-weight: bold;
  opacity: 0.8;
  font-size: 15px;
  margin-left: 32px;
}
.forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.forecast-temperatures {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0 10px;
}
.weather-min {
  opacity: 0.8;
  font-weight: bold;
  margin: 0 8px 0 0;
}
.weather-max {
  color: #bcdd29;
  font-weight: bolder;
  margin: 0 8px 0 0;
}
a {
  color: #a2c11c;
  font-weight: bold;
}
footer {
  margin-top: 85px;
  text-align: center;
  font-size: 15px;
}

.information {
  border-top: 1px solid rgb(235, 235, 235);
  padding: 25px 0 0 0;
  font-size: 14px;
}
.weather-app-icon {
  font-size: 55px;
  position: absolute;
  margin-top: -9px;
  padding-left: 20px;
}
@media(max-width:690px){
  h1{
    font-size: 50px;
    margin-left: 200px;
    font-weight: 800;
  }
  form{
    text-align: end;
    margin-top:-40px;

  }
  
  .weather-app-icon {
    margin-left: 225px;
   
  }
  .search-form-input{
    width:70%;

  }
  .current-temperature {
    margin-left: -640px;
    margin-top: 200px;
    font-size: 54px;
  }
  .weather-app-unit{
    margin-left: -430px;
   
  }
  .readings {
    margin-left: -598px;
    margin-top: -5px;
    margin-bottom: 90px;
  }
  .submit-form{
    width:25%;
  }
  .application {
    max-width: 500px;
 padding: 80px;
 margin: 25px;
  }

  .forecast-date {
    margin-left:10px;
  }
 
  .forecast-icon{
    width: 70px;
    height: 70px;
    margin: 10px auto;
   }
   .weather-min,.weather-max{
 margin: 0 4px 0 0;   
   }
}